@model ApiMobile.Models.Exercicio

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Exercicio</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Instrucoes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Instrucoes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EncodedGif)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EncodedGif)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precaucoes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precaucoes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observacoes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observacoes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataCriacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataCriacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataAtualizacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataAtualizacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medico.IdMedico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoLesao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoLesao.IdTipoLesao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdExercicio">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
