@model ApiMobile.Models.Medico

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Medico</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroCrm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroCrm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UfCrm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UfCrm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SituacaoCrm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SituacaoCrm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario.IdUsuario)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdMedico">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
