@model IEnumerable<ApiMobile.Models.Conteudo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subtitulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataCriacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataAtualizacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoLesao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subtitulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCriacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataAtualizacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medico.IdMedico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoLesao.IdTipoLesao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdConteudo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdConteudo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdConteudo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
